<br>
<br>
<br>
<br>
<table class="table table-info table-bordered table-striped">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Buy Item</th>
      <th scope="col">Price</th>
      <th scope="col">Number</th>
      <th scope="col">Discription</th>
    </tr>
    <tr class="cart-item" *ngFor="let product of products;let i = index">
      <td><span>{{ i+1 }} </span></td>
      <td><span>{{ product.itemName }} </span></td>
      <td><span>{{ product.price | currency }}</span></td>
      <td><span>{{ product.stockNumber }}</span></td>
      <td><span>{{ product.discription   }}</span></td>
    </tr>
</table>
