<br>
<br>
<br>
<br>

<div class ="container-fluid">
  <div class ="row">
    <div class = "col-lg-12 bg-dark text-white">
      <a class = "navbar-brand">Products</a>
    </div>
  </div>
  <div class="row">
    <div class = "col-3 p-2">
      <div>
      Fillter
      </div>
      <div class = "col-lg-12 bg-dark text-white">
      Start Price
      </div>
      <div>
      <select  class = "col-lg-12" [value]="startPrice" (change)="changeStartPrice($event.target.value)">
        <option>100</option>
        <option>200</option>
      </select>
        </div>
      <div class = "col-lg-12 bg-dark text-white">
        End Price
      </div>
      <div>
        <select class = "col-lg-12" [value]="endPrice" (change)="changeEndPrice($event.target.value)">
          <option>1000</option>
          <option>2000</option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-10 mb-3">
          <label for="manufacturers">Manufacturer</label>
          <select ngModel name="manufacturers" class="custom-select d-block w-100" id="manufacturers" [value] ="manufacturer" (change)="changeCategory($event.target.value)" >
<!--          <option value="">ALL</option>-->
          <option *ngFor="let item of manufacturers" [value]="item.categoryId">{{ item.categoryName }}</option>
        </select>
      </div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="filter()">Filter</button>
    </div>
    <div class = "col-9 p-2">
      <div class="row">
        <div *ngFor="let product of products; index as id" class="col-md-4 col-sm-4 col-lg-4">

          <div class="col-sm-6">
            <div class="card text-white bg-info mb-3" style="width: 18rem;">
              <img [src]="product.remarks" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" [routerLink]="['/products', id]">{{product.discription}}</h5>
                <h5 class="card-text"><a [title]="product.itemName + ' details'" [routerLink]="['/products', id]">{{ product.itemname }}</a></h5>
                <h4 class="pull-right">{{product.price | currency}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

