<br>
<br>
<br>
<br>
<table class="table table-info table-bordered table-striped">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Buy Item</th>
      <th scope="col">Price</th>
      <th scope="col">Number</th>
      <th scope="col"></th>

    <tr class="app-purchasehistory" *ngFor="let purchasehistory of purchasehistorys;let i = index">
      <td><span>{{ i+1 }} </span></td>
      <td><span>{{ purchasehistory.itemName }} </span></td>
      <td><span>{{ purchasehistory.price }}</span></td>
      <td><span>{{ purchasehistory.numberOfItems }}</span></td>
    </tr>

</table>
